<article id="features">
  <h2 class="font-jakartaSans font-bold text-3xl underline">+32 MORE FEATURES</h2>
  <p class="font-jakartaSans font-bold text-lg">INCLUDING A KB INTEGRATION</p>
  <div class="flex my-10">
    <p class="featuresTitles">
      Free
    </p>
    <p class="featuresText">
      Free Forever
    </p>
    <p class="featuresTitles" >
      Unlimited
    </p>
    <p class="featuresText">
      Tutorial Creation
    </p>
    <p class="featuresTitles">
      Powerful
    </p>
    <p class="featuresText">
      Editor &  Integrations
    </p>
  </div>
</article>