<article class="bg-black text-white rounded-lg text-start">
  <div class="p-4">
    <h3 class="text-2xl font-medium mb-3">Create Tutorials in 3 Clicks.</h3>
    <p class="text-sm text-customLightGray opacity-60">With WizardShot, You Click Capture, And We’ll Capture What’s Happening on Your Screen And Turn It Into A Tutorial.</p>
    <div>
      <p class="">Try Wizardshot</p>
    </div>
  </div>
</article>