---
import { Image } from "astro:assets";
import desktopImage from '../../../public/images/desktop-bg.png';
---

<article class="mt-10 text-start w-80 m-auto">
  <p class="text-xs font-bold italic mb-1">It only takes 3 clicks to <br /> publish your first tutorial</p>
  <div class="w-full rounded-md bg-gradient-to-b from-customPurple to-customPink p-3">
    <Image
    src={desktopImage}
    alt="desktop"
    class='rounded-sm'/>
  </div>
</article>