---
import { Image } from 'astro:assets'
import rightArrow from '../../../public/images/rightArrow.png'
---

<section id="mainTitle" class="flex flex-col gap-3 pt-4">
  <h1 class="title-text" >Your Magic Wand <br class="lg:hidden"/>for <br class="hidden lg:block"/>Instant Documentation</h1>
  <h2 class="font-openSans text-xl text-black/[0.6] font-bold lg:text-base lg:font-medium" >Turn ANY process into a simple <br class="lg:hidden"/> step-by step Guide</h2>
  <div>
    <div class="flex justify-center items-center pt-10">
      <a class="button1 items-center" href="https://www.google.com/" target="_blank">
        install Wizardshot
        <Image src={rightArrow} alt="Go to Wizardshoot installation" class="ml-2" />
      </a>
    </div>
  </div>
</section>