---
import { Image } from 'astro:assets'
import rightArrow from '../../../public/images/rightArrow.png'
---

<section id="mainTitle" class="flex flex-col gap-3">
  <h1 class="title-text" >Your Magic Wand <br />for Instant Documentation</h1>
  <h2 class="font-openSans text-xl text-black/[0.6] font-bold" >Turn ANY process into a simple <br /> step-by step Guide</h2>
  <div>
    <div class="flex justify-center items-center pt-10">
      <button class="button1 items-center">
        install Wizardshot
        <Image src={rightArrow} alt="Go to Wizardshoot installation" class="ml-2" />
      </button>
    </div>
  </div>
</section>