---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import desktopBg from '../../public/images/desktop-bg.png';
import Header from '../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Header />
	</main>
</Layout>
