---

interface Props {
	image: string;
	title: string;
	body: string;
}

const { image, title, body } = Astro.props;
---

<li class="w-80 m-auto font-openSans text-start xl:flex xl:flex-col xl:h-96 xl:m-0 xl:items">
	<div class="cardBgGradient p-4 xl:h-72">
		<img src={image} alt={title} class="mb-4 cardBgGradient"/>
	</div>
    <div>
        <h3 class="font-bold text-lg text-customGray">{title}</h3>
        <p class="font-bold text-black/[0.56] text-sm">{body}</p>
    </div>
</li>


<style>
.cardBgGradient {
	position: relative;
}
.cardBgGradient:before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0px;
    left: 0;
    background: linear-gradient(90deg, rgba(68, 255, 154, 0.1) 0%,rgba(68, 176, 255, 0.2) 20%, rgba(139, 68, 255, 0.3) 60%, rgba(255, 102, 68, 0.2) 80%, rgba(235, 255, 112, 0.1) 100%);
    transform: translate3d(0px, 2px, 0) scale(0.95);
    filter: blur(15px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.cardBgGradient::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    border-radius: inherit;
}
</style>

