---

interface Props {
	image: string;
	title: string;
	body: string;
}

const { image, title, body } = Astro.props;
---

<li class="w-72 m-auto font-openSans text-start">
	<img src={image} alt={title} class="mb-4"/>
	<h3 class="font-bold text-lg text-customGray">{title}</h3>
	<p class="font-bold text-black/[0.56] text-sm">{body}</p>
</li>

