---
import { Image } from 'astro:assets'
import appLogo from '../../public/images/header/app-logo.png'
import hamburger from '../../public/images/header/hamburger-menu.png'
---

<section class="h-16 flex items-center w-96 m-auto">
  <div class="flex justify-between w-full">
    <div class="flex gap-1">
      <Image src={appLogo} alt="app logo" />
      <p class="font-jakartaSans font-bold">Wizardshot</p>
    </div>
    <Image src={hamburger} alt="hamburger menu" />
  </div>
</section>