---
  import { Image } from 'astro:assets'
import desktopImage from '../../public/images/desktop-bg.png'
---

<section class="justifiedSection">
  <div class="flex flex-col gap-3">
    <h1 class="font-jakartaSans font-extrabold text-4xl" >Your Magic Wand <br />for Instant Documentation</h1>
    <h2 class="font-openSans text-xl text-black/[0.6] font-bold" >Turn ANY process into a simple <br /> step-by step Guide</h2>
    <div>
      <button class="bg-black text-white px-6 py-2 rounded-lg">install Wizardshot</button>
    </div>
  </div>
  <div class="mt-10 text-start w-80 m-auto">
    <p class="text-xs font-bold italic mb-1">It only takes 3 clicks to <br /> publish your first tutorial</p>
    <div class="w-full rounded-md bg-gradient-to-b from-customPurple to-customPink p-1">
      <Image
      src={desktopImage}
      alt="desktop"
      class=''/>
    </div>
  </div>
</section>